* { box-sizing: border-box;} 




.wrapper{
    
    position: relative;
    max-width: 1200px;
    height: 1200px;
    background: url('../Pics/white-bg.jpg');
}

nav li{
    display: inline;
    margin: 50px ;
    max-width: 70px;
    margin: 10px 3px;
    background-color: rgba(0, 0, 0,.2);
    display: block;
    text-align: center;
    border: 3px solid blue;
    border-radius: 6px;
    
    
}
nav li:hover{
    background-color: red;
}
nav a{
    color:black;
}
nav a:hover{
    color: white;
}
.main{
    
    
   max-width: 1200px;
    height: 1200px;
  
}